  <div id="" class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
    <div class="relative post">
      <img class="h-72 w-72 object-contain rounded-t-xl" src="<%= asset_path('show_sample.png') %>">
    </div>
    <div class="px-4 py-3 w-72 bg-gray-100 rounded-b-xl">
        <span class="font-medium text-gray-600 text-nowrap">
        ・タイトル、写真、曲を合わせて投稿する<br>
        ・投稿に絵文字で反応する<br>
        ・Xへシェアする<br>
        </span>
    </div>
  </div>

  <div id="" class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
    <div class="relative post">
      <img class="h-72 w-72 object-contain rounded-t-xl" src="<%= asset_path('show_sample.png') %>">
    </div>
    <div class="px-4 py-3 w-72 bg-gray-100 rounded-b-xl">
        <span class="font-medium text-gray-600">
        ・<br>
        ・いいねを押す<br>
        ・Xへシェアする<br>
        </span>
    </div>
  </div>
