<div class="pt-28 pb-6 flex items-center justify-center">
  <div class="text-2xl font-semibold px-4 text-center"><%= t('static_pages.privacy_policy') %></div>
  </div>
  <div class="flex items-center justify-center pl-11 px-4 pb-6">
    <div class="rounded-2xl p-6 w-full max-w-[1000px]">
      <div class="text-1xl font-semibold mb-2 mr-4">お客様から取得する情報</div>
      <div class="text-1xl text-slate-700 mb-4 ml-6">
        本サービスは、お客様から以下の情報を取得します。<br>
        ・氏名(ニックネームやペンネームを含む)<br>
        ・メールアドレス<br>
        ・写真<br>
        ・SNS連携などで提供されるID、外部サービスのプライバシー設定によりお客様が開示を認めた情報<br>
        ・Cookie(クッキー)を用いて生成された識別情報<br>
        ・OSが生成するID、端末の種類、端末識別子等、お客様が利用するOSや端末に関する情報<br>
        ・本サービスでの滞在時間、入力履歴等の利用履歴
      </div><br>
      <div class="text-1xl font-semibold mb-2 text-left">お客様の情報を利用する目的</div>
      <div class="text-1xl text-slate-700 mb-4 ml-6">
        本サービスは、お客様から取得した情報を、以下の目的で利用します。<br>
        • 本サービスの登録受付、お客様本人確認、認証のため<br>
        • 本サービスの利用履歴を管理するため<br>
        • 本サービスにおけるお客様の行動履歴を分析し、サービスの維持改善のため<br>
        • 本サービスに関するご案内をするため<br>
        • 本サービスの変更、提供中止、終了、契約解除に関するご連絡するため<br>
        • 規約および法令違反に対応するため<br>
        • 規約の変更等を通知するため<br>
        • お問い合わせに対応するため<br>
        • その他、本サービスの提供、維持、保護および改善のため
      </div><br>
      <div class="text-1xl font-semibold">安全管理のために講じた措置</div>
      <div class="text-1xl text-slate-700 ml-6">
      本サービスは、お客様の情報を安全に管理するために適切な措置を講じております。<br>
      詳細につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
      </div><br>
      <div class="text-1xl font-semibold">第三者提供</div>
      <div class="text-1xl text-slate-700 ml-6">
      本サービスは、お客様から取得した個人データ(個人情報保護法第16条第3項に基づく)を、あらかじめお客様の同意を得ずに、<br>
      第三者に提供することはありません。ただし、以下の場合を除きます。<br>
        •	個人データの取扱いを外部に委託する場合<br>
        •	本サービスの運営主体が第三者に移管された場合<br>
        •	事業パートナーと共同利用する場合(具体的な共同利用がある場合は、その内容を別途公表いたします。)<br>
        •	法的に第三者提供が許可されている場合<br>
        </div><br>
      <div class="text-1xl font-semibold">アクセス解析ツール</div>
      <div class="text-1xl text-slate-700 ml-6">
        本サービスは、Googleアナリティクスを利用して、お客様のアクセス解析を実施しております。Googleアナリティクスは、Cookieを利用して匿名のトラフィックデータを収集します。個人を特定することはありません。Cookieを無効にすることで、<br>
        情報収集を拒否できます。詳しくはブラウザの設定をご確認ください。<br>Googleアナリティクスについての詳細は、
        <%= link_to "こちら", "https://marketingplatform.google.com/about/analytics/terms/jp/", class: "text-blue-500 hover:underline", target: :_blank, rel: "noopener noreferrer" %>
        をご確認ください。
        </div><br>
      <div class="text-1xl font-semibold">プライバシーポリシーの変更</div>
      <div class="text-1xl text-slate-700 ml-6">
        本サービスは、必要に応じてこのプライバシーポリシーの内容を変更します。<br>
        変更後は、メールにて施行時期と内容を通知いたします。
      </div><br>
      <div class="text-1xl font-semibold">お問い合わせ</div>
      <div class="text-1xl text-slate-700 ml-6">
      お客様情報の開示、訂正、利用停止、削除をご希望の場合は、
      <%= link_to "こちら", "https://forms.gle/9ZDjozcRM7VsNp8n6", class: "text-blue-500 hover:underline", target: :_blank, rel: "noopener noreferrer" %>
      までご連絡ください。
      </div><br>
      <div class="text-1xl text-right text-slate-700">以上</div>
  </div>
  