

<button type="button" name="button">Click here</button>



<div class="h-screen w-screen flex flex-col justify-center items-center">
  <h1 class="text-5xl font-semibold text-slate-700"><%= t('.title') %></h1>
  <p class="mt-4 text-lg text-gray-700 text-center">音楽、写真、文字を投稿して</p>
  <p class="text-lg text-gray-700 text-center">感性を聴覚と視覚で楽しみましょう</p>
</div>

<BODY BGCOLOR="#fff1cb">