<body style="background-color: #babfd1;">
<div class="h-screen w-screen flex flex-col justify-center items-center">
  <h1 class="text-5xl font-semibold text-slate-700"><%= t('.title') %></h1>
  <p class="mt-4 text-lg text-gray-700 text-center">🎵</p>
</div>
</body>
