/* line 1, app/assets/stylesheets/back.scss */
.top-image {
  background-image: url(/assets/top-b9017e128b8d862d5e104479f591477096591555737df5b81694ddc66339d978.jpeg);
  background-size: cover;
}

/* line 6, app/assets/stylesheets/back.scss */
.index-image {
  background-image: url(/assets/index-aa8954c41d0f9cc09d05098fde44e324385629f8fb6e7f088bdd5aefc8b29cfa.jpeg);
  background-size: cover;
}

/* line 11, app/assets/stylesheets/back.scss */
.new-image {
  background-image: url(/assets/new-08725ecd179fddb474bef7b33fb1f8ab979e8a50c3375db8913a867e831c0c01.jpeg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
}
