@charset "UTF-8";
/* line 1, app/assets/stylesheets/back.scss */
.top-image {
  background-image: url(/assets/top-5aeb7121f52a4cc7796271c6bc2cf51ec0066034ac2aa3321883fe1bdef03879.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

/* Chrome、Safari */
/* line 11, app/assets/stylesheets/back.scss */
summary::-webkit-details-marker {
  display: none;
}

/* Chrome、Safari以外 */
/* line 15, app/assets/stylesheets/back.scss */
summary {
  display: block;
}
