@import url(//fonts.googleapis.com/css?family=Vibur);

.neon-button {
  font-family: 'Vibur', cursive;
  font-size: 15px;
  padding: 10px 15px;
  border: 4px solid #000;
  border-radius: 15px;
  background-color: #B3001B;
  color: #EFF2EF;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.neon-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff4444;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  box-shadow: 0 0 5px #ff4444, 0 0 10px #ff4444, 0 0 15px #ff4444;
}

.neon-button:hover {
  color: #fee;
}

.neon-button:hover::before {
  opacity: 0.2;
}

.neon-button:hover span {
  animation: blink-text linear infinite 0.5s;
}

@keyframes blink-text {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
      0 0 5px #fee,
      0 0 10px #fee,
      0 0 15px #fee,
      0 0 20px #ff4444,
      0 0 35px #ff4444,
      0 0 40px #ff4444,
      0 0 50px #ff4444,
      0 0 75px #ff4444;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
