@charset "UTF-8";
/* line 1, app/assets/stylesheets/tape.scss */
.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 11, app/assets/stylesheets/tape.scss */
.post-card {
  position: relative;
  width: 400px;
  height: 300px;
  background-image: url(/assets/tape-79192521b5a19e4e97d889cf5a9d790a1b672e2fe40317bf46e8dfc70833884b.png);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
}

/* line 21, app/assets/stylesheets/tape.scss */
.content-area {
  position: absolute;
  top: 45px;
  /* フレーム上部の余白 */
  left: 45px;
  /* フレーム左の余白 */
  right: 45px;
  /* フレーム右の余白 */
  bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* line 33, app/assets/stylesheets/tape.scss */
.post-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
