<footer class="bottom-0 left-0 z-20 w-full p-4 bg-white flex items-center justify-between md:p-6 dark:bg-gray-900 dark:border-gray-700">
  <div class="flex items-center">
    <!--<%= link_to t('footer.privacy_policy'), '', class: "text-sm text-gray-500 dark:text-gray-400 mr-6" %>-->
    <!--<%= link_to t('footer.terms'), '', class: "text-sm text-gray-500 dark:text-gray-400 mr-6" %>-->
    <!--<%= link_to t('footer.contact'), '', class: "text-sm text-gray-500 dark:text-gray-400" %>-->
  </div>
  <span class="text-sm text-gray-500 dark:text-gray-400"><%= t('footer.copyright') %></span>
</footer>