<%= search_form_for @q, url: posts_path, method: :get, class: "search-form" do |f| %>
    <div class="flex items-center space-x-2">
      <%= f.search_field :title_or_user_name_or_tags_name_or_song_name_or_artist_name_or_album_name_cont, 
            placeholder: "検索", class: "search-input rounded-lg pl-3" %>
      <button type="submit" class="text-white">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  <% end %>