<div class="mb-4">
  <%= form.label :tag_list, "Tags (,で区切り)", class: "block text-sm font-medium text-gray-700" %>
  <%= form.text_field :tag_list, value: post.tag_list.join(', '), class: "border rounded-md px-3 py-2 w-full" %>
</div>