<section id="Posts"
  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
  <% if @posts.any? %>
    <%= render @posts %>
  <% else %>
    <div class="col-span-full mb-3 text-gray-600"><%= t('posts.none') %></div>
  <% end %>
</section>