<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" id="like-button-for-post"> <!-- idを付けてAjax化用 -->
  <% if @like_posts.any? %>
    <% @like_posts.each do |post| %>
      <div id="post-<%= post.id %>">
        <%= render post %>
      </div>
    <% end %>
  <% else %>
    <div class="mb-3 text-gray-600"><%= t('likes.none')%></div>
  <% end %>
</div>