<div class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5" id="like-button-for-post"> <!-- idを付けてAjax化用 -->
  <% if @like_posts.any? %>
    <% @like_posts.each do |post| %>
      <div id="post-<%= post.id %>">
        <%= render post %>
      </div>
    <% end %>
  <% else %>
    <div class="mb-3 text-gray-600"><%= t('likes.none')%></div>
  <% end %>
</div>