<div class="container mx-auto px-4 pt-16 gap-x-14 gap-y-20 ">
  <% if @mine.blank? %>
  <div class="absolute inset-0 flex items-center justify-center text-gray-600"><%= t('posts.none') %>
  </div>
  <% end %>
  <div class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
    <%= render partial: 'post', collection: @mine %>
  </div>
</div>