.top-image{
 background-image: url(top.jpg);
 background-size:cover;
}

.index-image{
 background-image: url(index.jpg);
 background-size:cover;
}

.new-image{
 background-image: url(new.jpg);
 background-size:cover;
}