.top-image{
 background-image: url(top.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 width: 100%;
 height: 100vh;
}

/* Chrome、Safari */
summary::-webkit-details-marker {
    display: none;
  }
/* Chrome、Safari以外 */
summary {
display: block;
}