#search-input {
  font-size: 16px !important; /* iOSのズームを防ぐ */
}

#autoComplete_list {
    position: absolute;
    z-index: 1000; /* 他の要素の上に表示 */
    width: 100%; /* 幅を調整 */
    max-height: 300px; /* 最大高さを設定 */
  }
  
  .autoComplete_result {
    padding: 10px; /* パディングを調整 */
  }